name: Builds, tests & co

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 5.2.0

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install requirements
        run: sudo apt install -y libsdl2-dev

      - name: Install dune
        run: opam install dune

      - name: Get packages
        run: opam exec -- dune pkg lock

      - name: Build check
        run: opam exec -- dune build

      - name: Run tests
        run: opam exec -- dune runtest

      - name: Build docs
        run: opam exec -- dune build @doc
